.record {
  color: var(--white-color);
  display: flex;
  gap: 48px;
  align-items: center;
}

.record>div>p:first-child {
  font-size: var(--fs-medium);
  font-weight: var(--fw-regular);
  font-family: var(--font-tomorrow);
  letter-spacing: 2px;
  max-width:258px;
  overflow-x: scroll;
}
.record>div>p:last-child{
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  font-family: var(--font-barlow);
  letter-spacing: 2px;
  color: var(--gray-color);
}
